.footer {
    padding: 50px 0;
    background-color: #F4F4F4;

    @include media ('>=1024px') {
        padding: 70px 0;
    }

    .text-holder {
        text-align: center;
    }
}

.footer-inner {
    @include media ('>=1024px'){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contact {
    text-align: center;
    margin-bottom: 20px;

    @include media ('>=1024px'){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.05em;
    }

    .tel {
        padding: 30px 0 15px;
    }
    
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey;
    width: 50px;
    height: 50px;
    border: 1px solid $grey;
    &:hover {
        background-color: $grey;
        color: $white;
    }
}

    