.latest-post {
    margin-bottom: 20px;

    .content-desc {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
     }

    .heading-holder {
      margin-bottom: 50px;
      .title {
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.05em;
        text-align: start;
        padding: 0;
        margin: 0;
        }
        
        @include media('>=768px') {
            display: flex;
            justify-content: space-between;
          }
    }

    .content-inner {
      @include media('>=1024px') {
          margin: 0 -15px;
        }
}

.heading-link {
    display: flex;
    align-items: center;
    @include media ('>=768px'){
        justify-content: center;
    }

    .subtitle {
        color: $grey;
        padding-right: 10px;
    }
    .icon-Arrow-2 {
        color: $grey;
        font-size: 11px;
    }
}

.item {
    @include media('>=768px') {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        margin-bottom: 30px;  
      }
  
    @include media('>=1024px') {
        flex-direction: column;
        gap: 0;
        width: calc(100% / 3);
        padding: 0 15px;
      }
    &:nth-child(even) {
          flex-direction: row-reverse;
  
          @include media('>=1024px') {
            flex-direction: column;
          }
        }
      }
      .content,
      .img-holder {
        @include media('>=768px') {
          width: calc(50% - 10px);
        }
    
        @include media('>=1024px') {
          width: 100%;
        }
      }
}